/crates/cx-wasm/target/
/crates/cx-wasm/pkg/
/docs/_build/
/cx-jupyterlite/.yarn/
/cx-jupyterlite/node_modules/
/cx-jupyterlite/lib/
/cx-jupyterlite/labextension/
/cx-jupyterlite/tsconfig.tsbuildinfo
/recipes/conda-emscripten/lockfile-env/pixi.lock
__pycache__/
*.py[cod]
