.DS_Store
/output/
/crates/conda-wasm/target/
/crates/conda-wasm/pkg/
/docs/_build/
/jupyterlite/.yarn/
/jupyterlite/node_modules/
/jupyterlite/lib/
/jupyterlite/labextension/
/jupyterlite/tsconfig.tsbuildinfo
/recipes/conda/lockfile-env/pixi.lock
__pycache__/
*.py[cod]
